version: '3.8'

services:
  marfiro-middleware:
    build: .
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
