version: '3.8'

services:
  marfiro-middleware:
    build: .
    container_name: marfiro-middleware
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
